* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

:root {
    font-size: 62.5%; /* 10px */
}

.container {
    width: 45vw;
    margin: auto;
    padding-bottom: 24px;

    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
}

@media (max-width: 720px) {
    .container {
        width: 100vw;
        margin: 0 auto;
    }
}

body {
    background-color: #e1e1e1;
}

header {
    padding: 2.4rem 5.4rem;
    background-color: #1B83E2;
    color: #F4F4F4;

    font-size: 2.4rem;
    text-align: center;
}

main {
    padding: 2.3rem 2.4rem 0;
    

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-weight: 400;
    font-size: 1.4rem;
    color: #777777;
}

.input-wrapper label span {
    font-weight: bold;
}

.input-wrapper select, .input-wrapper input {
    height: 48px;
    margin-top: 6px;
    padding-left: 16px;

    font-size: 1.6rem;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    
    cursor: pointer;
    outline: none;
    appearance: none;
}

.input-wrapper select option {
    font-size: 1.6rem;
}

.input-wrapper select option span {
    font-weight: bold;
}

button {
    padding: 1.5rem 12.0rem;
    margin-bottom: 3.6rem;
    background: #1B83E2;
    border-radius: 25px;
    border: none;

    font-weight: 700;
    font-size: 1.6rem;
    color: #F4F4F4;

    cursor: pointer;
}

button:hover {
    background-color: #005baf;
    transition-property: background-color;
    transition: .3s;
}

footer {
    background-color: #f2f2f2;
    padding: 1.2rem 2.4rem 3.2rem;
    margin: 0 24px;

    border: 1px solid #1B83E2;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

footer .fromFlag, .toFlag {
    font-size: 1.4rem;
    color: #777777;
    text-align: center;
}

footer h3 {
    font-weight: 700;
    font-size: 2rem;
    color: #1B83E2;
}